/* message */
@keyframes message {
  0% {
    transform: translateY(0)
  }
  25% {
    transform: translateY(80px)
  }
  75% {
    transform: translateY(80px)
  }
  100% {
    transform: translateY(-80px)
  }
}

.ysy_message {
  width: 400px;
  height: 40px;
  border-radius: 4px;
  position: fixed;
  left: 50%;
  top: -40px;
  margin-left: -200px;
  text-align: center;
  line-height: 40px;
  animation: message 3s;
}

.ysy_message_info {
  background-color: #edf2fc;
  border-color: #ebeef5;
  color: #909399;
}

.ysy_message_success {
  background-color: #f0f9eb;
  border-color: #e1f3d8;
  color: #67c23a;
}

.ysy_message_danger {
  background-color: #fdf6ec;
  border-color: #faecd8;
  color: #e6a23c;
}

.ysy_message_error {
  background-color: #fef0f0;
  border-color: #fde2e2;
  color: #f56c6c;
}

/* *********** */

/* ysy_table */
.ysy_table {
  table-layout: fixed;
  padding: 24px;
  width: 100%;
  overflow: hidden;
  background-color: #fff;
  font-size: 14px;
  color: #606266;
}

.ysy_table thead tr,
.ysy_table tbody tr {
  height: 40px;
}

.ysy_table thead tr td {
  font-weight: 700;
  color: #909399;
}

.ysy_table tr td {
  text-align: left;
  line-height: 40px;
  border-bottom: 1px solid #ebeef5;
}

/* ****************** */

/* ysy_button */
.ysy_button {
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid #dcdfe6;
  color: #606266;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  padding: 12px 20px;
  margin: 0;
  font-size: 14px;
  border-radius: 4px;
  font-weight: 500;
}
.ysy_button:hover {
  opacity: 0.7;
}
.ysy_button_primary {
  color: #fff;
  background-color: #409eff;
  border-color: #409eff;
}
.ysy_button_success {
  color: #fff;
  background-color: #67c23a;
  border-color: #67c23a;
}
.ysy_button_info {
  color: #fff;
  background-color: #909399;
    border-color: #909399;
}
.ysy_button_warning {
  color: #fff;
  background-color: #e6a23c;
    border-color: #e6a23c;
}
.ysy_button_danger {
  color: #fff;
  background-color: #f56c6c;
    border-color: #f56c6c;
}
/* *********** */

/* ysy_input */
.ysy_input {
  -webkit-appearance: none;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 40px;
    line-height: 40px;
    outline: none;
    padding: 0 15px;
    margin-top: 20px;
    transition: border-color .2s cubic-bezier(0.65, 0.04, 0.36, 1);
    width: 100%;
}
.ysy_input:hover {
  border-color: #c0c4cc;
}
.ysy_input:focus {
  outline: none;
    border-color: #409eff;
}


/* select */
div[class='selectcontainer'] {
  position: relative;
}
div[class='selectcontainer'] input {
  position: relative;
}
div[class='selectcontainer'] ul {
  display: none;
  position: absolute;
  top: 60px;
  border-radius: 5px;
  list-style: none;
    padding: 6px 0;
    margin: 0;
    box-sizing: border-box;
    box-shadow: 0 0 5px #57595a;
    width: 100%;
}
div[class='selectcontainer'] ul .ysy_select_option {
  margin: 5px;
  padding: 0 20px;
  color: #606266;
}
div[class='selectcontainer'] ul .ysy_select_option:hover {
  background-color: #f5f7fa;
  color: #409eff;
  font-weight: 700;
  cursor: pointer;
}